.chats {
  position: relative;
  height: 600px;
  width: 260px;
}
.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #059ee0;
  height: 50px;
}
.chats_avatar {
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}
.chats_search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}
.chats_search > input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  flex: 1;
  color: white;
}
.chats_search > input::placeholder {
  color: white;
  opacity: 1;
}
.chats_searchIcon {
  color: white;
  font-size: 15px !important;
}
.chats_chatIcon {
  color: white;
  font-size: 20px !important;
}
.chat_posts {
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  height: 360px;
  background-color: white;
  margin-top: -7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: scroll;
}
/* .chat_posts ::-webkit-scrollbar {
  display: none;
} */
/* .chat_posts {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.chat_posts::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide the track */
.chat_posts::-webkit-scrollbar-track {
  background-color: transparent;
}
.chats_takePicture {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  font-size: 40px !important;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chats_takePicture:hover {
  opacity: 0.8;
}
